@media screen and (max-width : 1220px){
  #about-me{
    height: 700px;
  }
  #about-me-p-one{
    font-size: 18px;
  }
  #about-me-p-two{
    font-size: 18px;
  }
  #projects{
    height: 900px;
    -ms-grid-rows: 7% 7% 6% 1fr;
        grid-template-rows: 7% 7% 6% 1fr;
  }
  #contacts{
    height: 650px;
    -ms-grid-rows: 11% 7% 12% 1fr;
        grid-template-rows: 11% 7% 12% 1fr;
    -ms-grid-columns: 10% 40% 1fr 10%;
        grid-template-columns: 10% 40% 1fr 10%;
  }
}
@media screen and (max-width : 1199px){
  #projects{
    height: 750px;
  }
}
@media screen and (max-width : 1100px){
    #about-me-p-one{
    font-size: 17px;
  }
  #about-me-p-two{
    font-size: 17px;
  }
}
@media screen and (max-width : 1024px) {
  #main-img {
      width: 250px;
  }
  #about-me{
    -ms-grid-rows: 10% 7% 10% 1fr 1fr 1fr 10%;
        grid-template-rows: 10% 7% 10% 1fr 1fr 1fr 10%;
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
  }
  .progress-bar-div{
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 6 / 2 / 7 / 3;
  }
  #projects{
    height: 800px;
    -ms-grid-rows: 9% 6% 9% 1fr;
        grid-template-rows: 9% 6% 9% 1fr;
  }
}
@media screen and (max-width : 990px){
  #projects{
    height: 650px;
    -ms-grid-rows: 9% 6% 11% 1fr;
        grid-template-rows: 9% 6% 11% 1fr;
  }
}
@media screen and (max-width : 900px) {
  #contacts{
    height: 900px;
    -ms-grid-rows: 7% 7% 6% 1fr 1fr;
        grid-template-rows: 7% 7% 6% 1fr 1fr;
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
  }
  .contacts-form{
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 5 / 2 / 6 / 3;
  }
  .contacts-div{
    -ms-grid-rows: 40px 40px 40px 40px;
        grid-template-rows: 40px 40px 40px 40px;
    -ms-grid-columns: 40px 1fr;
        grid-template-columns: 40px 1fr;
  }
  #contacts-p-number{
    font-size: 19px;
  }
  #contacts-p-mail{
    font-size: 19px;
  }
  #contacts-p-github{
    font-size: 19px;
  }
  #contacts-p-map{
    font-size: 19px;
  }
  #contacts-img-number{
    width: 40px;
  }
  #contacts-img-mail{
    width: 40px;
  }
  #contacts-img-github{
    width: 40px;
  }
  #contacts-img-map{
    width: 40px;
  }
}
@media screen and (max-width : 835px){
  #main{
    -ms-grid-columns: 10% 1fr;
        grid-template-columns: 10% 1fr;
  }
  .main-img {
    display: none;
  }
}
@media screen and (max-width : 780px) {
  #about-me{
      height: 800px;
  }
  #about-me-p-one{
    font-size: 17px;
  }
  #about-me-p-two{
    font-size: 17px;
  }
}
@media screen and (max-width : 767px){
  #projects{
    height: 500px;
    -ms-grid-rows: 9% 6% 14% 1fr;
        grid-template-rows: 9% 6% 14% 1fr;
  }
}
@media screen and (max-width : 580px){
  #about-me-p-one{
    font-size: 15px;
  }
  #about-me-p-two{
    font-size: 15px;
  }
}
@media screen and (max-width : 470px) {
  #main-div{
    font-size: 30px;
  }
  #about-me-p{
    font-size: 30px;
  }
  #projects-p{
    font-size: 30px;
  }
  #contacts-p{
    font-size: 30px;
  }
  #about-me{
    -ms-grid-rows: 9% 7% 7% 1fr 1fr 1fr 10%;
        grid-template-rows: 9% 7% 7% 1fr 1fr 1fr 10%;
  }
  #projects{
    height: 450px;
    -ms-grid-rows: 9% 6% 15% 1fr;
        grid-template-rows: 9% 6% 15% 1fr;
  }
  #contacts-p-number{
    font-size: 18px;
  }
  #contacts-p-mail{
    font-size: 18px;
  }
  #contacts-p-github{
    font-size: 18px;
  }
  #contacts-p-map{
    font-size: 18px;
  }
  .form-submit>.btn{
    width: 100%;
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}
@media screen and (max-width : 400px){
  #projects{
    height: 400px;
    -ms-grid-rows: 10% 6% 18% 1fr;
        grid-template-rows: 10% 6% 18% 1fr;
  }
}
@media screen and (max-width : 380px) {
  #main{
    height: 600px;
  }
  #main-div{
    font-size: 30px;
  }
  #about-me{
    -ms-grid-rows: 5% 5% 5% 1fr 1fr 1fr 5%;
        grid-template-rows: 5% 5% 5% 1fr 1fr 1fr 5%;
    height: 800px;
  }
  #about-me-p{
    font-size: 30px;
  }
  #about-me-p-one{
    font-size: 15px;
  }
  #about-me-p-two{
    font-size: 15px;
  }
  #projects{
    height: 350px;
    -ms-grid-rows: 10% 10% 12% 1fr;
        grid-template-rows: 10% 10% 12% 1fr;
  }
  #projects-p{
    font-size: 30px;
  }
  #progress-bar-div{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
  }
  #contacts{
    height: 800px;
    -ms-grid-rows: 5% 7% 5% 0.5fr 1fr;
        grid-template-rows: 5% 7% 5% 0.5fr 1fr;
  }
  #contacts-p{
    font-size: 30px;
  }
  .contacts-div{
    -ms-grid-rows: 35px 35px 35px 34px;
        grid-template-rows: 35px 35px 35px 34px;
    -ms-grid-columns: 35px 1fr;
        grid-template-columns: 35px 1fr;
    grid-row-gap: 25px;
  }
  #contacts-p-number{
    font-size: 15px;
  }
  #contacts-img-number{
    width: 35px;
  }
  #contacts-p-mail{
    font-size: 15px;
  }
  #contacts-img-mail{
    width: 35px;
  }
  #contacts-p-github{
    font-size: 15px;
  }
  #contacts-img-github{
    width: 35px;
  }
  #contacts-p-map{
    font-size: 15px;
  }
  #contacts-img-map{
    width: 35px;
  }
  .contacts-form{
    margin-top: 25px;
  }
}
